

li{text-align: left !important;
    font-size: 20px;}

.margin {margin-top: 0 !important;
        border-top: 0 !important;}

.center{align-items: center !important;}

.googleForm {
    /*margin-left: auto;/*
    /*margin-right: auto;*/
    text-align: center;
  }

.imgresize {  width:800px;
    height:914px;
}

.margins{margin-left: auto;
    margin-right: auto;}
